{#{% extends '@SonataAdmin/CRUD/base_edit.html.twig' %}#}
<head>
        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_script_tags('app') }}
</head>


{% block content %}
    <div id="gjs" data-page-id="{{ page.id }}">
    </div>
{% endblock %}
